@use "themes" as *;
@import "mixins";

button {
    cursor: pointer;
    padding: 0px 1.25rem;
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
    line-height: 1.5rem;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    height: $button-height;
    position: relative;
    overflow: hidden;
    @include border-radius($rounded);
    outline: none;

    &.raw {
        margin: 0px;
        border-radius: 0px;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: var(--on-background);

            >svg {
                path {
                    fill: var(--background);
                }
            }
        }
    }

    &.primary {
        background-color: var(--on-background);
        color: var(--background);
        border: none;
        border-radius: $rounded-full;

        &:hover {
            background-color: var(--on-primary-container);
        }
    }

    &.icon {
        padding: 0px;
        width: $button-height;
        border-radius: $rounded-full;
    }

    >svg {
        path {
            fill: var(--on-background);
        }
    }

    &[role="switch"] {
        >svg {
            rotate: 90deg;
            @include transition(transform 0.3s ease, rotate 0.1s ease);
            position: absolute;
            z-index: 10;
            @include transform(translate(-60px, 0px));

            &.active {
                rotate: 0deg;
                @include transform(translate(0px, 0px));
            }
        }
    }
}