@use "themes" as *;
@import "mixins";

button {
    cursor: pointer;
    padding: 0px 1.25rem;
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
    line-height: 1.5rem;
    text-align: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    height: $button-height;
    overflow: hidden;
    @include border-radius($rounded);
    outline: none;

    &.raw {
        margin: 0px;
        border-radius: 0px;
        border: none;
        background-color: transparent;

        &:hover {
            background-color: $on-background;

            >svg {
                path {
                    fill: $background;
                }
            }
        }
    }
}