hr {
    border: none;
    border-bottom: 0.5px solid var(--on-background);

    &.transparent {
        border: 0.5px solid transparent;
    }

    &.md {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
}