@use "themes" as *;
@import "mixins";

header {
    &.app-bar {
        width: 100%;
        position: fixed;
        z-index: 50;
        top: 0;
        height: $toolbar-height;
        display: grid;
        grid-template-columns: 20% 1fr auto 20%;
        align-items: center;
        background-color: transparent;
        @include transition(background-color 0.2s linear, box-shadow 0.3s linear, grid-template-columns 0.3s ease);

        &.sm {
            grid-template-columns: $toolbar-height 1fr auto 1em;
        }

        .leading {
            display: flex;
            align-items: center;
            justify-content: end;

            .brand {
                >button {
                    background-color: transparent;
                    cursor: pointer;
                    padding: 0;
                    height: max-content;
                    width: max-content;
                    margin: 0;
                    border: none;
                    @include border-radius($rounded);
                    @include transition(background-color 0.2s linear);

                    &:hover {
                        background-color: var(--on-primary-container);

                        >svg {

                            >rect,
                            path {
                                fill: var(--primary-container);
                            }
                        }
                    }
                }
            }
        }

        .title {
            >a {
                margin-left: 0.5em;
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                color: var(--on-primary-container);
                text-decoration: none;
                @include transition(color 0.1s linear);

                &:hover {
                    color: var(--hover-on-primary-container);
                }
            }
        }

        &.elevated {
            background-color: var(--primary-container);
            box-shadow: $shadow;
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: end;
        }
    }
}