@use "themes" as *;
@import "mixins";

header {
    &.app-bar-wrapper {
        position: fixed;
        z-index: 50;
        top: 0;
        width: 100vw;
    }

    .app-bar {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: $toolbar-height;
        background-color: var(--surface);
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        @include transition(box-shadow 0.3s linear);

        &.elevated {
            background-color: var(--surface);
            box-shadow: $shadow;
        }

        .leading {
            display: flex;
            align-items: center;
            justify-content: end;

            .brand {
                padding-left: 0.75rem;

                >button {
                    background-color: transparent;
                    cursor: pointer;
                    padding: 0;
                    height: max-content;
                    width: max-content;
                    margin: 0;
                    border: none;
                    @include border-radius($rounded);
                    @include transition(background-color 0.2s linear);

                    &:hover {
                        background-color: var(--on-background);

                        >svg {

                            >rect,
                            path {
                                fill: var(--background);
                            }
                        }
                    }
                }
            }
        }

        .title {
            position: relative;
            height: $toolbar-height;
            width: 100%;
            @include flex-start;

            >h3 {
                margin-left: 1.75rem;
                color: var(--on-background);
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                overflow: hidden;
                white-space: nowrap;
                width: 85%;
                text-overflow: ellipsis;
                transform: translate(0px, -60px);
                @include transition(color 0.1s linear, transform 0.8s ease);

                &.pinned {
                    transform: translate(0px, 18px);
                }

                &:hover {
                    color: rgb(var(--primary));
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: end;
            padding-right: 0.75rem;
        }

        &.sm {
            .title {
                >h3 {
                    margin-left: 1rem;
                }
            }
        }
    }
}