$seed-color: #734cff;
$secondary-seed-color: #f56a24;

$primary: 97, 53, 237;
$on-primary: #ffffff;
$primary-container: #e6deff;
$on-primary-container: #1d0061;
$secondary: #a14000;
$on-secondary: #ffffff;
$secondary-container: #ffdbcd;
$on-secondary-container: #360f00;
$tertiary: #006e1b;
$on-tertiary: #ffffff;
$tertiary-container: #71ff75;
$on-tertiary-container: #002204;
$error: #ba1a1a;
$on-error: #ffffff;
$error-container: #ffdad6;
$on-error-container: #410002;
$background: #f5f5f7;
$on-background: #1c1b1e;
$surface: #ffffff;
$on-surface: #1c1b1e;
$outline: #79757f;
$surface-variant: #e6e0ec;
$on-surface-variant: #48454e;
$backdrop: rgba(248, 246, 248, 0.8);

$primary-dark: 202, 190, 255;
$on-primary-dark: #320099;
$primary-container-dark: #4900d5;
$on-primary-container-dark: #e6deff;
$secondary-dark: #ffb597;
$on-secondary-dark: #591d00;
$secondary-container-dark: #7d2d00;
$on-secondary-container-dark: #ffdbcd;
$tertiary-dark: #4ae258;
$on-tertiary-dark: #003909;
$tertiary-container-dark: #005312;
$on-tertiary-container-dark: #71ff75;
$error-dark: #ffb4ab;
$on-error-dark: #690005;
$error-container-dark: #93000a;
$on-error-container-dark: #ffdad6;
$background-dark: #1c1b1e;
$on-background-dark: #e6e1e6;
$surface-dark: #252429;
$on-surface-dark: #e6e1e6;
$outline-dark: #938f99;
$surface-variant-dark: #48454e;
$on-surface-variant-dark: #e6e1e6;
$backdrop-dark: rgba(19, 19, 20, 0.8);

:root {
    --primary: #{$primary};
    --on-primary: #{$on-primary};
    --primary-container: #{$primary-container};
    --on-primary-container: #{$on-primary-container};
    --secondary: #{$secondary};
    --on-secondary: #{$on-secondary};
    --secondary-container: #{$secondary-container};
    --on-secondary-container: #{$on-secondary-container};
    --tertiary: #{$tertiary};
    --on-tertiary: #{$on-tertiary};
    --tertiary-container: #{$tertiary-container};
    --on-tertiary-container: #{$on-tertiary-container};
    --error: #{$error};
    --on-error: #{$on-error};
    --error-container: #{$error-container};
    --on-error-container: #{$on-error-container};
    --background: #{$background};
    --on-background: #{$on-background};
    --surface: #{$surface};
    --on-surface: #{$on-surface};
    --outline: #{$outline};
    --surface-variant: #{$surface-variant};
    --on-surface-variant: #{$on-surface-variant};
    --backdrop: #{$backdrop};

    --primary-dark: #{$primary-dark};
    --on-primary-dark: #{$on-primary-dark};
    --primary-container-dark: #{$primary-container-dark};
    --on-primary-container-dark: #{$on-primary-container-dark};
    --secondary-dark: #{$secondary-dark};
    --on-secondary-dark: #{$on-secondary-dark};
    --secondary-container-dark: #{$secondary-container-dark};
    --on-secondary-container-dark: #{$on-secondary-container-dark};
    --tertiary-dark: #{$tertiary-dark};
    --on-tertiary-dark: #{$on-tertiary-dark};
    --tertiary-container-dark: #{$tertiary-container-dark};
    --on-tertiary-container-dark: #{$on-tertiary-container-dark};
    --error-dark: #{$error-dark};
    --on-error-dark: #{$on-error-dark};
    --error-container-dark: #{$error-container-dark};
    --on-error-container-dark: #{$on-error-container-dark};
    --background-dark: #{$background-dark};
    --on-background-dark: #{$on-background-dark};
    --surface-dark: #{$surface-dark};
    --on-surface-dark: #{$on-surface-dark};
    --outline-dark: #{$outline-dark};
    --surface-variant-dark: #{$surface-variant-dark};
    --on-surface-variant-dark: #{$on-surface-variant-dark};
    --backdrop-dark: #{$backdrop-dark};
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--primary-dark);
        --on-primary: #{$on-primary-dark};
        --primary-container: #{$primary-container-dark};
        --on-primary-container: #{$on-primary-container-dark};
        --secondary: #{$secondary-dark};
        --on-secondary: #{$on-secondary-dark};
        --secondary-container: #{$secondary-container-dark};
        --on-secondary-container: #{$on-secondary-container-dark};
        --tertiary: #{$tertiary-dark};
        --on-tertiary: #{$on-tertiary-dark};
        --tertiary-container: #{$tertiary-container-dark};
        --on-tertiary-container: #{$on-tertiary-container-dark};
        --error: #{$error-dark};
        --on-error: #{$on-error-dark};
        --error-container: #{$error-container-dark};
        --on-error-container: #{$on-error-container-dark};
        --background: #{$background-dark};
        --on-background: #{$on-background-dark};
        --surface: #{$surface-dark};
        --on-surface: #{$on-surface-dark};
        --outline: #{$outline-dark};
        --surface-variant: #{$surface-variant-dark};
        --on-surface-variant: #{$on-surface-variant-dark};
        --backdrop: var(--backdrop-dark);
    }
}

$toolbar-height: 60px;
$rounded: 0.25rem;
$rounded-lg: 0.5rem;
$rounded-full: 9999px;
$button-height: 43.0px;
$shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);