@import url("./variables.css");

header.app-bar {
    position: sticky;
    top: 0;
    z-index: 50;
    height: 50px;
    background-color: gray;
}

header.glass {
    background: rgba(var(--surface-color), 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
}

.app-bar-contraint nav {
    display: none;
}

.app-bar-contraint {
    position: relative;
    height: 100%;
    max-width: var(--md);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 8px;
}

.app-bar-contraint .center {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.app-bar-contraint a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-bar-actions {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 12px;
}

.app-bar-actions nav {
    display: flex;
    gap: 4px;
}

.app-bar-leading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .app-bar-contraint nav {
        display: flex;
    }

    .app-bar-leading .dropdown {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .app-bar-contraint {
        padding: 0;
    }
}