@use "themes" as *;
@use "base";
@use "buttons";
@use "headers";
@use "indicators";
@use "divider";
@import "mixins";

.shrink {
    margin: 0
}

.app-shell {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-top: $toolbar-height;
    @include transition(grid-template-columns 0.3s ease);

    &.sm {
        grid-template-columns: 0% 100vw 0%;
    }

    >main {
        padding: 1.5rem;
    }
}

ul,
ol {
    &.socials {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        position: relative;
        gap: 0.5rem;
    }

    >li {
        margin: 0.5rem 0px;
    }
}

.circular-avatar {
    background-color: var(--primary-container);
    border-radius: $rounded-full;
    height: 50px;
    width: 50px;
    overflow: hidden;
    cursor: pointer;

    >img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

.blog-post {
    display: grid;
    grid-template-columns: 30% 1fr;
    @include transition(grid-template-columns 0.3s ease);

    .leading {
        padding: 1.3em 0rem;
    }

    &.sm {
        grid-template-columns: 1fr;

        .leading {
            display: flex;
            align-items: end;
            padding: 0;
            margin-bottom: 0.5rem;
            justify-content: space-between;
        }
    }

    .preview {
        cursor: pointer;
        background-color: var(--surface);
        border-radius: $rounded-lg;
        padding-bottom: 1.5rem;
        width: 100%;
        height: min-content;
        box-shadow: $shadow-lg;
        overflow: hidden;
        @include transition(box-shadow 0.3s ease-in-out);

        >h3 {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }

        >p {
            margin: 1rem 1.5rem;
        }

        >p {
            font-size: 0.85rem;
        }

        .end {
            margin-left: 1.5rem;
        }

        .image {
            overflow: hidden;
            @include flex-center;

            >img {
                transform-origin: center;
                @include transition(scale 0.2s ease-in-out);
            }
        }

        &:hover {
            box-shadow: $shadow;

            .image {
                >img {
                    scale: 1.03;
                }
            }
        }
    }
}

.section-header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    @include transition(color 0.3s linear);
    color: rgb(var(--primary));

    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
        color: var(--secondary);
    }

    &:hover {
        color: var(--secondary);
        text-decoration: none;
    }

    &:active {
        color: var(--secondary);
        text-decoration: none;
    }
}

p {
    >em {
        color: rgb(var(--primary));
    }

    >code {
        color: rgb(var(--primary));
        background-color: rgba(var(--primary), 0.2);
        border-radius: $rounded;
        padding-left: .25rem;
        padding-right: .25rem;
    }

    >img {
        width: 100%;
        height: auto;
    }
}

footer {
    background-color: $on-surface;
    padding: 0.5em 1.5em;
    color: $background;

    .bottom-profile {
        display: flex;
        justify-content: space-between;
        align-items: end;

        &.sm {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        >button {
            background-color: transparent;
            outline: none;
            border: none;

            &.brand {
                height: max-content;
                width: max-content;
                margin: 0;
                padding: 0;
            }

            >svg {
                >path {
                    fill: white;
                }

            }

            &:hover {
                >svg {
                    >path {
                        fill: $seed-color;
                    }
                }
            }
        }

        .socials {
            display: flex;
            gap: 0.5rem;

            button {
                border: none;
                border-radius: 0px;
                background-color: transparent;

                >svg {
                    >path {
                        fill: white;
                    }

                }

                &:hover {
                    >svg {
                        >path {
                            fill: $seed-color;
                        }
                    }
                }
            }

            margin-bottom: 0.5em;
        }
    }

    >p {
        text-align: center;
    }
}

.post-data {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.blog-image-wrapper {
    @include flex-center;

    >img {
        @include transition(width 0.3s ease);
        width: 80%;
        height: auto;
    }

    &.sm {
        >img {
            width: 100%;
        }
    }
}

.empty-area {
    height: 100%;
    width: 100%;
    background-color: var(--disabled);
    @include transition(box-shadow 0.3s linear, background-color 0.3s linear);
}

.card {
    overflow: hidden;
    box-shadow: $shadow;
    border-radius: $rounded-lg;

    .banner {
        position: relative;

        .avatar-wrapper {
            position: absolute;
            z-index: 10;
            padding-left: 1.5rem;
            bottom: calc($button-height * -0.5);
            display: flex;

            .circular-avatar {
                border: 0.125rem solid var(--surface);
                @include transition(border 0.3s ease);

                &:hover {
                    border-color: var(--tertiary-container);
                }
            }
        }

        >ul {
            &.socials {
                position: absolute;
                z-index: 10;
                bottom: 0.25rem;
                right: 1.5rem;

                >li {
                    >button {
                        >svg {
                            >path {
                                fill: $surface;
                            }
                        }

                        &:hover {
                            background-color: $primary-container;

                            >svg {
                                >path {
                                    fill: $seed-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >p {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

.wave {
    display: inline-block;
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(12deg);
    }

    30% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(9deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}