@use "themes" as *;
@use "body";
@use "buttons";
@use "heading";
@use "headers";
@use "indicators";
@use "divider";
@import "mixins";

.shrink {
    margin: 0
}

p {
    line-height: 1.6;
}

svg {

    >rect,
    path {
        @include transition(fill 0.2s linear);
    }
}

.under-construction-wrapper {
    background-color: var(--backdrop);
    position: fixed;
    z-index: 100;
    text-align: center;
    height: 100dvh;
    width: 100vw;
    @include flex-center;
    flex-direction: column;

    >.caption {
        margin: $toolbar-height 0px $toolbar-height 0px;
    }

    .socials {
        position: fixed;
        bottom: 2rem;
        z-index: 20;
    }
}

.app-shell {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-top: $toolbar-height;

    &.sm {
        grid-template-columns: 0% 100vw 0%;
    }

    >main {
        padding: 1.5rem;
    }
}

ul,
ol {
    &.socials {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        position: relative;
    }

    >li {
        margin: 0.5rem 0px;
    }
}

.circle-avatar {
    background-color: var(--primary-container);
    border-radius: $rounded-full;
    height: 50px;
    width: 50px;
    overflow: hidden;
    cursor: pointer;

    >img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

.blog-post {
    display: grid;
    grid-template-columns: 30% 1fr;

    .leading {
        padding: 1.3em 0rem;
    }

    &.sm {
        grid-template-columns: unset;

        .leading {
            display: flex;
            align-items: end;
            padding: 0;
            margin-bottom: 0.5rem;
            justify-content: space-between;
        }
    }

    .preview {
        background-color: var(--surface);
        padding: 0px 1em 1em;
        border-radius: $rounded-lg;
    }
}

.section-header {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.profiles {
        align-items: start;
    }
}

pre {
    background-color: var(--primary-container);
    border-radius: $rounded-lg;
    padding: 2em;
    overflow-x: auto;

    >code {
        color: var(--on-primary-container);
    }
}

a {
    @include transition(color 0.3s linear);
    color: rgb(var(--primary));

    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
        color: var(--secondary);
    }

    &:hover {
        color: var(--secondary);
        text-decoration: none;
    }

    &:active {
        color: var(--secondary);
        text-decoration: none;
    }
}

p {
    >em {
        color: rgb(var(--primary));
    }

    >code {
        color: rgb(var(--primary));
        background-color: rgba(var(--primary), 0.2);
        border-radius: $rounded;
        padding-left: .25rem;
        padding-right: .25rem;
    }

    >img {
        width: 100%;
        height: auto;
    }
}