@import url("./base.css");
@import url("./animation.css");
@import url("./app-bar.css");
@import url("./avatar.css");
@import url("./article.css");
@import url("./button.css");
@import url("./chip.css");
@import url("./color.css");
@import url("./divider.css");
@import url("./footer.css");
@import url("./form.css");
@import url("./heading.css");
@import url("./input.css");
@import url("./link.css");
@import url("./list.css");
@import url("./post.css");
@import url("./logo.css");
@import url("./typography.css");
@import url("./hero.css");

.app {
    margin: 0;
}

.shrink {
    margin: 0;
}

.h-paddings {
    padding: 0 16px;
}

.mb {
    margin-bottom: 48px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.greetings {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hobby {
    transition: opacity 0.2s linear;
    opacity: 0;
}

.hobby.reveal {
    opacity: 1;
}

.icon.icon-link::before {
    content: "#";
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actions {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-top: 12px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    margin-top: 12px;
}

.dropdown-content {
    position: absolute;
    z-index: 10;
}

.dropdown-content li {
    list-style: none;
    margin: 0;
    border-radius: 6px;
    text-align: start;
    padding: 4px 18px;
}

.dropdown-content li a {
    justify-content: start;
}

.menu {
    padding: 12px;
    min-width: 128px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--surface-color), 1);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@media screen and (min-width: 768px) {
    .greetings {
        text-align: start;
    }

    .mb {
        margin-bottom: 64px;
    }
}

@media (prefers-color-scheme: dark) {
    .menu {
        background-color: rgba(var(--surface-color-dark), 1);
    }
}