#article-content>*:not(:last-child) {
    margin-bottom: 1rem;
}

#article-content h1 a span::before,
#article-content h2 a span::before,
#article-content h3 a span::before,
#article-content h4 a span::before,
#article-content h5 a span::before,
#article-content h6 a span::before {
    cursor: pointer;
    content: '#';
    font-family: system-ui;
    margin-right: 0.25rem;
}