@import url("./variables.css");

.btn {
    appearance: none;
    display: inline-flex;
    height: 3rem;
    min-height: 3rem;
    flex-shrink: 0;
    cursor: pointer;
    background-color: rgba(var(--button-color), 1);
    border: 0.125rem solid rgba(var(--button-color), 1);
    user-select: none;
    flex-wrap: wrap;
    color: rgba(var(--on-surface-color), 1);
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: .875rem;
    line-height: 1em;
    gap: .5rem;
    font-weight: 600;
    text-decoration-line: none;
    border-radius: 12px;
    box-shadow: none;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
    transition-property: color, background-color, border-color, opacity, box-shadow, transform;
}

.btn:hover,
.btn.ghost:hover {
    background-color: rgba(var(--on-surface-color), 0.1);
    border-color: rgba(var(--button-color), 0.1);
}

.btn.sm {
    height: 2rem;
    min-height: 2rem;
}

.btn.ghost {
    background-color: rgba(var(--button-color), 0);
    border-color: rgba(var(--button-color), 0);
}

.btn.squared {
    padding-left: unset;
    padding-right: unset;
    aspect-ratio: 1;
}

.btn.btn-circle {
    border-radius: 9999px;
    aspect-ratio: 1;
    padding: 0;
}

.btn:active {
    transform: scale(0.94);
}

.btn span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn span svg path {
    fill: rgba(var(--on-surface-color), 1);
}

.btn:disabled {
    cursor: unset;
    color: rgba(var(--on-surface-color), 0.1);
}

.btn:disabled:hover {
    background-color: rgba(var(--button-color), 1);
}

.btn:disabled:active {
    transform: scale(1);
}