@import url("./variables.css");

label.choice-chip {
    position: relative;
    transition: background-color 0.1s linear;
    background-color: rgba(var(--primary-highlight-color), 0.5);
    color: rgba(var(--primary-color), 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
}

label.choice-chip:hover {
    background-color: rgba(var(--primary-highlight-color), 1);
}

.choice-chip input[type="radio"] {
    display: none;
    visibility: hidden;
    position: absolute;
}

.choice-chip input[type="radio"]:checked+label {
    background-color: rgba(var(--primary-color), 1);
    color: rgba(var(--on-surface-color), 1);
}

.choice-chip:has(input:checked) {
    background-color: rgba(var(--primary-color), 1);
    color: rgba(var(--on-surface-color), 1);
}

@media (prefers-color-scheme: dark) {
    label.choice-chip {
        background-color: rgba(var(--primary-highlight-color-dark), 0.5);
    }

    label.choice-chip:hover {
        background-color: rgba(var(--primary-highlight-color-dark), 1);
    }

    .choice-chip input[type="radio"]:checked+label {
        background-color: rgba(var(--primary-color-dark), 1);
        color: rgba(var(--on-surface-color-dark), 1);
    }

    .choice-chip:has(input:checked) {
        background-color: rgba(var(--primary-color-dark), 1);
        color: rgba(var(--on-surface-color-dark), 1);
    }
}