.recent-work-grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .recent-work-grid :first-child {
        grid-column: span 2 / span 2;
    }
    .recent-work-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}