li.list-item {
    list-style: none;
}

ul.list {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 0;
}

@media screen and (min-width: 768px) {
    .list .list-item.post {
        flex: 0 calc(50% - 5px);
    }

    .list .list-item.post:first-child {
        flex-basis: 100%;
    }
}