@import url("./variables.css");

.post {
    cursor: pointer;
    overflow: clip;
    border-radius: 12px;
    background-color: rgba(var(--surface-color), 1);
}

.post a {
    all: unset;
    color: rgba(var(--on-surface-color), 1);
}

.tile-description,
.title-head {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-head h4,
.title-timestamp {
    color: rgba(var(--subtitle-color), 1);
}

.tile-description {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-media {
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-media img {
    object-fit: cover;
    scale: 1;
    transition: scale 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.title-media:hover img {
    scale: 1.05;
}

.post-info {
    display: flex;
    flex-direction: column;
    color: rgba(var(--subtitle-color), 1);
}

.post-info * {
    margin-top: 0;
    margin-bottom: 0;
}

.post-shell {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.post-shell article {
    width: 100%;
}

.post-shell aside {
    position: sticky;
    top: 50px;
    height: fit-content;
    display: none;
    flex: 0 1 auto;
}

.post-shell aside nav ul li a {
    margin-right: 16px;
}

.post-shell aside ul {
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .post:first-child a {
        display: grid;
        grid-template-columns: 65% minmax(0, 1fr);
    }

    .post:first-child a .tile-description .title-head h2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post:not(:first-child) a .tile-description {
        min-height: 200px;
    }

    .post:not(:first-child) a .tile-description h2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .post:first-child a .tile-description .title-head {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media screen and (min-width: 1280px) {
    .post-shell aside {
        display: block;
    }
}