.work-description {
    display: none;
}

.recent-work-grid {
    display: grid;
    padding: 0;
    gap: 16px;
}

.work-caption {
    padding: 12px 16px 24px 16px;
}

@media screen and (min-width: 768px) {
    .recent-work-grid :first-child {
        grid-column: span 2 / span 2;
    }

    .recent-work-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .work:first-child a figure figcaption {
        display: none;
    }

    .work:first-child a figure {
        width: 100%;
    }

    .work:first-child a {
        display: flex;
        flex-direction: row-reverse;
    }

    .work:first-child a .work-info {
        padding-left: 16px;
        padding-right: 16px;
    }

    .work:first-child a .work-info .work-title {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .work:first-child a .work-info .work-description {
        display: contents;
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .work:first-child a .work-info {
        padding-left: 20px;
        padding-right: 20px;
    }
}